In [1]:
!pip install pandas numpy scikit-learn matplotlib

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

# Load movies and ratings data
movies_df = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', header=None,
                        names=['movie_id', 'movie_title', 'release_date', 'video_release_date', 
                               'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 
                               'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 
                               'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
                               'Sci-Fi', 'Thriller', 'War', 'Western'])


ratings_df = pd.read_csv('ml-100k/u.data', sep='\t', encoding='latin-1', header=None,
                         names=['user_id', 'movie_id', 'rating', 'timestamp'])

# Preview the data
display(movies_df.head(20))
display(ratings_df.head(20))

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

    user_id  movie_id  rating  timestamp
0       196       242       3  881250949
1       186       302       3  891717742
2        22       377       1  878887116
3       244        51       2  880606923
4       166       346       1  886397596
5       298       474       4  884182806
6       115       265       2  881171488
7       253       465       5  891628467
8       305       451       3  886324817
9         6        86       3  883603013
10       62       257       2  879372434
11      286      1014       5  879781125
12      200       222       5  876042340
13      210        40       3  891035994
14      224        29       3  888104457
15      303       785       3  879485318
16      122       387       5  879270459
17      194       274       2  879539794
18      291      1042       4  874834944
19      234      1184       2  892079237

In [3]:
# Basic Info about datasets
print("Movies DataFrame Info:")
print(movies_df.info())

print("Ratings DataFrame Info:")
print(ratings_df.info())

Movies DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie_title         1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Children            1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None
Ratings DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
None

In [4]:
# Check for any missing values
print("\nMissing values in Movies Data:")
print(movies_df.isnull().sum())

print("\nMissing values in Ratings Data:")
print(ratings_df.isnull().sum())

Missing values in Movies Data:
movie_id                 0
movie_title              0
release_date             1
video_release_date    1682
IMDb_URL                 3
unknown                  0
Action                   0
Adventure                0
Animation                0
Children                 0
Comedy                   0
Crime                    0
Documentary              0
Drama                    0
Fantasy                  0
Film-Noir                0
Horror                   0
Musical                  0
Mystery                  0
Romance                  0
Sci-Fi                   0
Thriller                 0
War                      0
Western                  0
dtype: int64

Missing values in Ratings Data:
user_id      0
movie_id     0
rating       0
timestamp    0
dtype: int64

In [5]:
# Display basic statistics of the ratings
print("\nRatings statistics:")
print(ratings_df.describe())

Ratings statistics:
            user_id       movie_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [6]:
# Check if 'video_release_date' exists before dropping
if 'video_release_date' in movies_df.columns:
    movies_df.drop(columns=['video_release_date'], inplace=True)
else:
    print("'video_release_date' column does not exist or was already dropped.")

# Handle missing values in 'release_date' and 'IMDb_URL'
movies_df['release_date'] = movies_df['release_date'].fillna('Unknown')
movies_df['IMDb_URL'] = movies_df['IMDb_URL'].fillna('Unknown')

print("Missing values after cleaning:")
print(movies_df.isnull().sum())

Missing values after cleaning:
movie_id        0
movie_title     0
release_date    0
IMDb_URL        0
unknown         0
Action          0
Adventure       0
Animation       0
Children        0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
dtype: int64

In [11]:
import numpy as np

# Step 1: Merge movies_df with ratings_df on 'movie_id'
movies_ratings_df = pd.merge(ratings_df, movies_df, on='movie_id')

# Step 2: Multiply user ratings by genre indicators to weigh each genre by rating

# Selecting all genre columns
genre_columns = movies_df.columns[5:]

# Initialize a dictionary to hold each userâ€™s profile
user_profiles = {}

for user_id, user_data in movies_ratings_df.groupby('user_id'):
    # Calculate weighted sum of ratings for each genre
    user_profile = user_data[genre_columns].multiply(user_data['rating'], axis=0).sum()

    # Normalize the user profile by dividing by the number of movies rated
    user_profile = user_profile / user_data['rating'].sum()

    # Store the profile in the dictionary
    user_profiles[user_id] = user_profile

# Convert the dictionary into a DataFrame for easier access and manipulation
user_profiles_df = pd.DataFrame(user_profiles).T
user_profiles_df.index_name = 'user_id'

user_profiles_df.head(20)

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,0.004073,0.254582,0.125255,0.040733,0.056008,0.321792,0.087576,0.024440,0.427699,0.007128,0.005092,0.045825,0.038697,0.018330,0.176171,0.175153,0.191446,0.093686,0.022403
2,0.000000,0.165217,0.056522,0.017391,0.052174,0.265217,0.147826,0.000000,0.582609,0.013043,0.039130,0.026087,0.013043,0.060870,0.286957,0.065217,0.186957,0.047826,0.000000
3,0.000000,0.258278,0.092715,0.000000,0.000000,0.205298,0.198675,0.033113,0.423841,0.000000,0.033113,0.079470,0.026490,0.231788,0.112583,0.145695,0.350993,0.092715,0.000000
4,0.000000,0.298077,0.134615,0.000000,0.000000,0.192308,0.182692,0.048077,0.259615,0.000000,0.000000,0.038462,0.048077,0.192308,0.125000,0.221154,0.413462,0.086538,0.000000
5,0.007952,0.349901,0.212724,0.105368,0.141153,0.489066,0.069583,0.000000,0.143141,0.009940,0.009940,0.141153,0.079523,0.017893,0.087475,0.230616,0.111332,0.089463,0.009940
6,0.000000,0.109518,0.099087,0.044329,0.079531,0.301173,0.067797,0.005215,0.505867,0.009126,0.036506,0.020860,0.059974,0.066493,0.202086,0.058670,0.123859,0.104302,0.023468
7,0.000000,0.230914,0.145181,0.036295,0.091364,0.210889,0.080100,0.013141,0.384856,0.018148,0.026283,0.104506,0.067584,0.051314,0.135169,0.119524,0.188986,0.115144,0.044431
8,0.000000,0.709821,0.290179,0.000000,0.017857,0.107143,0.165179,0.000000,0.321429,0.000000,0.017857,0.022321,0.000000,0.013393,0.125000,0.325893,0.303571,0.214286,0.058036
9,0.000000,0.212766,0.159574,0.000000,0.000000,0.287234,0.000000,0.000000,0.468085,0.000000,0.053191,0.053191,0.000000,0.042553,0.404255,0.202128,0.234043,0.212766,0.000000
10,0.000000,0.138243,0.078811,0.037468,0.043928,0.239018,0.093023,0.015504,0.447028,0.005168,0.054264,0.034884,0.074935,0.089147,0.193798,0.065891,0.189922,0.113695,0.029716
11,0.000000,0.161085,0.079745,0.000000,0.031898,0.403509,0.074960,0.000000,0.491228,0.012759,0.004785,0.025518,0.003190,0.065391,0.234450,0.124402,0.167464,0.098884,0.030303
12,0.000000,0.272321,0.138393,0.017857,0.053571,0.267857,0.035714,0.000000,0.486607,0.000000,0.000000,0.004464,0.062500,0.058036,0.254464,0.129464,0.236607,0.142857,0.035714
13,0.000000,0.241624,0.114721,0.029949,0.076650,0.289848,0.071574,0.022843,0.391371,0.019797,0.030457,0.064975,0.048731,0.051777,0.179695,0.106091,0.178173,0.073604,0.026396
14,0.000000,0.172070,0.162095,0.062344,0.059850,0.351621,0.067332,0.017456,0.396509,0.007481,0.034913,0.009975,0.042394,0.067332,0.204489,0.137157,0.132170,0.099751,0.009975
15,0.000000,0.197324,0.120401,0.006689,0.043478,0.250836,0.050167,0.000000,0.511706,0.033445,0.020067,0.006689,0.013378,0.056856,0.287625,0.107023,0.197324,0.113712,0.000000
16,0.000000,0.227723,0.092409,0.064356,0.085809,0.257426,0.148515,0.000000,0.404290,0.008251,0.041254,0.064356,0.077558,0.059406,0.184818,0.122112,0.249175,0.089109,0.019802
17,0.000000,0.105882,0.164706,0.047059,0.105882,0.329412,0.058824,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.152941,0.129412,0.117647,0.117647,0.000000
18,0.000000,0.088372,0.063256,0.047442,0.069767,0.351628,0.047442,0.011163,0.535814,0.013023,0.013023,0.014884,0.083721,0.032558,0.235349,0.047442,0.082791,0.100465,0.013953
19,0.000000,0.239437,0.126761,0.000000,0.070423,0.633803,0.000000,0.000000,0.535211,0.000000,0.000000,0.084507,0.056338,0.000000,0.211268,0.056338,0.098592,0.056338,0.070423
20,0.000000,0.449664,0.308725,0.080537,0.154362,0.234899,0.033557,0.000000,0.315436,0.026846,0.000000,0.020134,0.087248,0.020134,0.154362,0.194631,0.255034,0.161074,0.000000

In [13]:
# Drop the 'unknown' column from user profiles
if 'unknown' in user_profiles_df.columns:
    user_profiles_df.drop(columns=['unknown'], inplace=True)

# Display the updated user profiles
user_profiles_df.head(10)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,0.254582,0.125255,0.040733,0.056008,0.321792,0.087576,0.024440,0.427699,0.007128,0.005092,0.045825,0.038697,0.018330,0.176171,0.175153,0.191446,0.093686,0.022403
2,0.165217,0.056522,0.017391,0.052174,0.265217,0.147826,0.000000,0.582609,0.013043,0.039130,0.026087,0.013043,0.060870,0.286957,0.065217,0.186957,0.047826,0.000000
3,0.258278,0.092715,0.000000,0.000000,0.205298,0.198675,0.033113,0.423841,0.000000,0.033113,0.079470,0.026490,0.231788,0.112583,0.145695,0.350993,0.092715,0.000000
4,0.298077,0.134615,0.000000,0.000000,0.192308,0.182692,0.048077,0.259615,0.000000,0.000000,0.038462,0.048077,0.192308,0.125000,0.221154,0.413462,0.086538,0.000000
5,0.349901,0.212724,0.105368,0.141153,0.489066,0.069583,0.000000,0.143141,0.009940,0.009940,0.141153,0.079523,0.017893,0.087475,0.230616,0.111332,0.089463,0.009940
6,0.109518,0.099087,0.044329,0.079531,0.301173,0.067797,0.005215,0.505867,0.009126,0.036506,0.020860,0.059974,0.066493,0.202086,0.058670,0.123859,0.104302,0.023468
7,0.230914,0.145181,0.036295,0.091364,0.210889,0.080100,0.013141,0.384856,0.018148,0.026283,0.104506,0.067584,0.051314,0.135169,0.119524,0.188986,0.115144,0.044431
8,0.709821,0.290179,0.000000,0.017857,0.107143,0.165179,0.000000,0.321429,0.000000,0.017857,0.022321,0.000000,0.013393,0.125000,0.325893,0.303571,0.214286,0.058036
9,0.212766,0.159574,0.000000,0.000000,0.287234,0.000000,0.000000,0.468085,0.000000,0.053191,0.053191,0.000000,0.042553,0.404255,0.202128,0.234043,0.212766,0.000000
10,0.138243,0.078811,0.037468,0.043928,0.239018,0.093023,0.015504,0.447028,0.005168,0.054264,0.034884,0.074935,0.089147,0.193798,0.065891,0.189922,0.113695,0.029716

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend_movies(user_id, user_profiles_df, movies_df, top_n = 5):
    # Get the user profile (genre preferences) for the specified user
    user_profile = user_profiles_df.loc[user_id].values.reshape(1, -1)

    # Get the genre columns in movies_df to match with user profiles
    genre_columns = user_profiles_df.columns
    movie_genres = movies_df[genre_columns].values

    # Calculate the cosine similarity between the user profile and each movie's genre vector
    similarity_scores = cosine_similarity(user_profile, movie_genres).flatten()

    # Add similarity scores to the movies DataFrame
    movies_df['similarity_score'] = similarity_scores

    # Sort the movies by similarity score in descending order
    recommend_movies = movies_df.sort_values(by='similarity_score', ascending=False)

    # Return the top-N recommended movies
    return recommend_movies[['movie_title', 'similarity_score']].head(top_n)

# Test the recommendation function for a sample user
user_id = 99
top_recommendations = recommend_movies(user_id, user_profiles_df, movies_df, 10)
top_recommendations

                              movie_title  similarity_score
1490              Tough and Deadly (1995)          0.811686
1024               Fire Down Below (1997)          0.811686
243         Smilla's Sense of Snow (1997)          0.811686
916                 Mercury Rising (1998)          0.811686
27                       Apollo 13 (1995)          0.811686
53                        Outbreak (1995)          0.811686
1555                 Condition Red (1995)          0.811686
1558            Hostile Intentions (1994)          0.811686
336              House of Yes, The (1997)          0.797362
73    Faster Pussycat! Kill! Kill! (1965)          0.789405